PORT=3000
HOST_NAME=localhost
MONGO_URI=mongo
DB_NAME=dog_breed_id
JWT_SECRET=key
JWT_REFRESH_SECRET=key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
JWT_REFRESH_EXPIRATION_SECONDS=604800

EMAIL_USER=mail
EMAIL_PASS=mail

# after deploy, change to actual AI service URL
# AI_SERVICE_URL=https://dogbreedid-v2.onrender.com
AI_SERVICE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3001
# AI_SERVICE_URL=http://localhost:8000
BACKEND_URL=link
PY_WS_URL=ws://localhost:9001/ws/infer

GOOGLE_API_KEY=key

REDIS_URL=redis://default:password@redis-host:port
