fastapi
opencv-python
numpy
YOLOv8
uvicorn[standard]
ultralytics
opencv-python-headless
pillow
python-multipart
torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121
pydantic_settings
imageio
imageio[ffmpeg]

#python -m uvicorn main:app --host localhost --port 8000 //command to run the server