--extra-index-url https://download.pytorch.org/whl/cu126
fastapi
uvicorn[standard]
ultralytics
numpy
opencv-python-headless
pillow
python-multipart
imageio
imageio[ffmpeg]
imageio-ffmpeg
pymongo
huggingface_hub
python-dotenv
httpx
onnxruntime
torch
torchvision
pydantic
