fastapi
uvicorn[standard]
ultralytics
numpy
# Dùng bản headless cho server để tránh lỗi dependency GUI
opencv-python-headless
pillow
python-multipart
imageio
imageio[ffmpeg]
pymongo
huggingface_hub
python-dotenv
# Quan trọng: thư viện này dùng để tải ảnh từ URL (code của bạn có dùng)
httpx
torch
torchvision
torchaudio
onnxruntime